<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Page title</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="Description">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://rapidtech.s3.amazonaws.com/assets/framework_theme.css" rel="stylesheet">
  <link href="https://rapidtech.s3.amazonaws.com/assets/framework.css" rel="stylesheet">
  <link href="https://rapidtech.s3.amazonaws.com/assets/plugin_theme.css" rel="stylesheet">
  <link href="https://rapidtech.s3.amazonaws.com/assets/framework1.css" rel="stylesheet">

  <!-- <link rel="stylesheet" href="https://platform-staging.grorapid.com/assets/css/portal/font-awesome-4.7.0/css/font-awesome.min.css"> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">




  <style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
    }

    * {
      box-sizing: border-box;
    }

    body {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  </style>
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      --theme_primary: #2f80ed;
      --theme_light: #f5f9fe;
      --theme_text_primary: #333333;
      --theme_text_secondary: #828282;
      --theme_text_color: #4A47A3;
      --font_family: Lexend, sans-serif;
    }

    .bgcolorS1 {
      background: #4A47A3;
    }

    .bgcolorS2 {
      background: #5D59BA;
    }

    .textcolor1 {
      color: #4A47A3;
    }

    .textcolor2 {
      color: #5D59BA;
    }

    .icon1_bg {
      background: #F87789;
    }

    .icon2_bg {
      background: #6ECAC9;
    }

    .icon3_bg {
      background: #FF9655;
    }
  </style>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158951641-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-158951641-2');
  </script>
</head>

<body>

  <section class="grpd-wrapper grpd-font-weight-400 bgcolorS1">
    <div class="grpd-container-xxl grpd-py-32 grpd-mx-auto">
      <div class="grpd-row grpd-flex-xs-column-reverse grpd-flex-lg-row ">
        <div
          class="grpd-col-lg-7 grpd-col-md-12 grpd-col-xs-12 grpd-py-md-32 grpd-py-xs-32 gr-py-lg-0 grpd-my-0 grpd-pr-lg-72 grpd-display-flex grpd-justify-content-center grpd-flex-column">
          <h1 class="grpd-h1 grpd-text-color-theme_light grpd-mt-8 grpd-py-16">Launch Your App with Confidance &
            Creativity
          </h1>
          <p class="grpd-p grpd-col-lg-9 grpd-col-lmd-11 grpd-col-xs-12  grpd-text-color-theme_light grpd-py-16">Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et, lectus sit lorem id integer.
          </p>
          <div class="grpd-py-16 grpd-row">
            <a href="#"
              class="grpd-button-secondary-theme_primary grpd-mt-8 grpd-mr-16 grpd-font-weight-500 grpd-px-32 grpd-py-12 grpd-border-color-theme_primary grpd-border">Get
              started</a>
          </div>
        </div>
        <div class="grpd-col-lg-5 grpd-col-md-12 grpd-col-xs-12 grpd-text-align-center">
          <img src="https://grorapidassets.s3.amazonaws.com/images/Template_blue/Saly-10.png" id="icvbt"
            class="grpd-width-100" />
        </div>
      </div>
    </div>
  </section>

  <section class="grpd-wrapper  grpd-py-16  grpd-pb-200  grpd-px-48 bgcolorS2 " id="i4wd">

    <div class="grpd-container-xxl   grpd-mx-auto">
      <div class="grpd-row grpd-py-8 grpd-justify-content-between" id="iz5k">
        <div
          class="grpd-col-lg-2 grpd-col-md-6 grpd-col-xs-12 grpd-display-flex grpd-justify-content-center grpd-align-items-center grpd-py-32 grpd-px-32">
          <img src="https://grorapidassets.s3.amazonaws.com/images/theme1/Airbnb%20Logo.png" />
        </div>
        <div
          class="grpd-col-lg-2 grpd-col-md-6 grpd-col-xs-12 grpd-display-flex grpd-justify-content-center grpd-align-items-center grpd-py-32 grpd-px-32">
          <img src="https://grorapidassets.s3.amazonaws.com/images/theme1/Hubspot%20Logo.png" id="ib0v" />
        </div>
        <div
          class="grpd-col-lg-2 grpd-col-md-6 grpd-col-xs-12 grpd-display-flex grpd-justify-content-center grpd-align-items-center grpd-py-32 grpd-px-32">
          <img src="https://grorapidassets.s3.amazonaws.com/images/theme1/Google%20Logo.png" />
        </div>
        <div
          class="grpd-col-lg-2 grpd-col-md-6 grpd-col-xs-12 grpd-display-flex grpd-justify-content-center grpd-align-items-center grpd-py-32 grpd-px-32">
          <img src="https://grorapidassets.s3.amazonaws.com/images/theme1/Walmart%20Logo.png" />
        </div>
        <div
          class="grpd-col-lg-2 grpd-col-md-6 grpd-col-xs-12 grpd-display-flex grpd-justify-content-center grpd-align-items-center grpd-py-32 grpd-px-32">
          <img src="https://grorapidassets.s3.amazonaws.com/images/theme1/FedEx%20Logo.png" />
        </div>
      </div>
    </div>
  </section>

  <section class="grpd-wrapper  grpd-position-relative grpd-mt-m10  ">
    <div class="grpd-container-xxl grpd-pb-48 grpd-mx-auto">
      <div class="grpd-row">
        <div class="grpd-col-lg-6 grpd-col-md-10 grpd-col-xs-12 grpd-text-align-center grpd-mx-auto">
          <h3 class="grpd-h3 grpd-pb-16 grpd-text-color-theme_light">Why Choose Us
          </h3>
        </div>
      </div>
      <div class="grpd-row  grpd-justify-content-evenly">
        <div class="grpd-col-lg-4 grpd-col-md-8 grpd-col-xs-12 grpd-px-lg-32 grpd-py-lg-16 grpd-px-xs-16 grpd-py-xs-16">
          <div class="grpd-background-color-white grpd-px-32 grpd-py-32 grpd-sass-box-shadow-blue grpd-border-radius-4">
            <div

              class="grpd-px-16 grpd-py-16 grpd-height-px-56 grpd-width-px-56 grpd-sass-box-shadow-orange grpd-border-radius-10 grpd-border-circle  grpd-border icon1_bg grpd-background-color-theme_primary grpd-display-flex grpd-justify-content-center">
              <img src="https://grorapidassets.s3.amazonaws.com/images/Template_blue/icon-2.png" id="icvbt"
              class="grpd-width-100" />
            </div>
            <h5 class="grpd-h5 grpd-font-weight-600 grpd-mt-16">
              Robust workflow
            </h5>

            <p class="grpd-p  grpd-text-color-text_secondary">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
            </p>
          </div>
        </div>
        <div class="grpd-col-lg-4 grpd-col-md-8 grpd-col-xs-12 grpd-px-lg-32 grpd-py-lg-16 grpd-px-xs-16 grpd-py-xs-16">
          <div class="grpd-background-color-white grpd-px-32 grpd-py-32 grpd-sass-box-shadow-blue grpd-border-radius-4">
            <div

              class="grpd-px-16 grpd-py-16 grpd-height-px-56 grpd-width-px-56 grpd-sass-box-shadow-orange grpd-border-radius-10 grpd-border-circle  grpd-border icon2_bg grpd-background-color-theme_primary grpd-display-flex grpd-justify-content-center">
              <img src="https://grorapidassets.s3.amazonaws.com/images/Template_blue/icon-2.png" id="icvbt"
              class="grpd-width-100" />
            </div>
            <h5 class="grpd-h5 grpd-font-weight-600 grpd-mt-16">
              Robust workflow
            </h5>

            <p class="grpd-p  grpd-text-color-text_secondary">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
            </p>
          </div>
        </div>
        <div class="grpd-col-lg-4 grpd-col-md-8 grpd-col-xs-12 grpd-px-lg-32 grpd-py-lg-16 grpd-px-xs-16 grpd-py-xs-16">
          <div class="grpd-background-color-white grpd-px-32 grpd-py-32 grpd-sass-box-shadow-blue grpd-border-radius-4">
            <div

              class="grpd-px-16 grpd-py-16 grpd-height-px-56 grpd-width-px-56 grpd-sass-box-shadow-orange grpd-border-radius-10 grpd-border-circle  grpd-border icon3_bg grpd-background-color-theme_primary grpd-display-flex grpd-justify-content-center">
              <img src="https://grorapidassets.s3.amazonaws.com/images/Template_blue/icon-.png" id="icvbt"
              class="grpd-width-100" />
            </div>
            <h5 class="grpd-h5 grpd-font-weight-600 grpd-mt-16">
              Robust workflow
            </h5>

            <p class="grpd-p  grpd-text-color-text_secondary">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
            </p>
          </div>
        </div>


      </div>

    </div>
  </section>

  <section class="grpd-wrapper">
    <div class="grpd-container-xxl grpd-py-16 grpd-mx-auto">
      <div class="grpd-row grpd-flex-xs-column-reverse grpd-flex-lg-row  ">
        <div
          class="grpd-col-lg-5 grpd-col-md-12 grpd-col-xs-12 grpd-py-md-32 grpd-py-xs-32 grpd-pr-lg-32 grpd-display-flex grpd-justify-content-center grpd-flex-column">
          <h1 class="grpd-h2-med textcolor1 grpd-py-16 grpd-font-weight-600">
            Insight & resources to help you faster
          </h1>
          <div class="grpd-py-18 grpd-display-flex">
            <div
              class="grpd-width-px-32 grpd-px-14 grpd-display-inline-flex grpd-justify-content-center grpd-align-items-center grpd-height-px-32 grpd-mr-14 grpd-border grpd-border-circle bgcolorS2">
              <span class="grpd-font-weight-600 grpd-text-color-theme_light">1</span>
            </div>
            <div class="grpd-col-lg-9 grpd-col-md-11 grpd-col-xs-12">
              <h4 class="grpd-text-color-text_primary grpd-font-weight-700">Fully Responsive
              </h4>
              <p class="grpd-p grpd-text-color-text_secondary grpd-font-weight-500">
                Lorem ipsum dolor sit ametco snsetetur sadipscing elitr sed diam nonumy eirmod.
              </p>
            </div>
          </div>
          <div class="grpd-py-18 grpd-display-flex">
            <div
              class="grpd-width-px-32 grpd-px-14  grpd-display-inline-flex grpd-justify-content-center grpd-align-items-center grpd-height-px-32 grpd-mr-14 grpd-border grpd-border-circle bgcolorS2">
              <span class="grpd-font-weight-600 grpd-text-color-theme_light">2</span>
            </div>
            <div class="grpd-col-lg-9 grpd-col-md-11 grpd-col-xs-12">
              <h4 class="grpd-text-color-text_primary grpd-font-weight-700">Fully Responsive
              </h4>
              <p class="grpd-p grpd-text-color-text_secondary grpd-font-weight-500">
                Lorem ipsum dolor sit ametco snsetetur sadipscing elitr sed diam nonumy eirmod.
              </p>
            </div>
          </div>
          <div class="grpd-py-18 grpd-display-flex">
            <div
              class="grpd-width-px-32 grpd-px-14 grpd-display-inline-flex grpd-justify-content-center grpd-align-items-center grpd-height-px-32 grpd-mr-14 grpd-border grpd-border-circle bgcolorS2">
              <span class="grpd-font-weight-600 grpd-text-color-theme_light">3</span>
            </div>
            <div class="grpd-col-lg-9 grpd-col-md-11 grpd-col-xs-12">
              <h4 class="grpd-text-color-text_primary grpd-font-weight-700">Fully Responsive
              </h4>
              <p class="grpd-p grpd-text-color-text_secondary grpd-font-weight-500">
                Lorem ipsum dolor sit ametco snsetetur sadipscing elitr sed diam nonumy eirmod.
              </p>
            </div>
          </div>

        </div>
        <div
          class="grpd-col-lg-7 grpd-col-md-12 grpd-col-xs-12 grpd-display-flex grpd-justify-content-center grpd-flex-column">
          <div id="ivygv" class="grpd-col-lg-12 grpd-col-md-12 grpd-col-xs-12 grpd-text-align-center">
            <img src="https://grorapidassets.s3.amazonaws.com/images/Template_blue/Saly-11.png" id="icvbt"
              class="grpd-width-100" />
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="grpd-wrapper grpd-font-weight-300 ">
    <div class="grpd-container-xxl grpd-mx-auto">
      <div class="grpd-row grpd-py-24">
        <div id="ivygv" class="grpd-col-lg-6 grpd-col-md-12 grpd-col-xs-12 grpd-display-flex">
          <img src="https://grorapidassets.s3.amazonaws.com/images/Template_blue/Saly-12.png" id="icvbt"
            class="grpd-width-80" />
        </div>
        <div
          class="grpd-col-lg-6 grpd-col-md-12 grpd-col-xs-12  grpd-px-lg-32 grpd-px-xs-10 grpd-display-flex grpd-justify-content-center grpd-flex-column">
          <h1 class="grpd-h2-med textcolor2 grpd-font-weight-600 ">
            Comes with all you need
          </h1>
          <p class="grpd-p grpd-py-16 grpd-text-color-text_secondary ">
            Alii nusquam cu duo, vim eu consulatu percipitur, meis doorcomprehen sam at vis. Vel ut dignissim
            signiferumq Alii nusquam cuduo, vim eusde consulatu percipitur
          </p>
          <p class="grpd-p grpd-text-color-text_secondary">
            meis dolor comprehensam at vij. Alii nusquam cu duo, vim eu consulatu percipitur, meis doorcomprehen sam at
            vis. Vel ut dignissim signiferumq nusquam.

          </p>

        </div>

      </div>
    </div>
  </section>

  <section class="grpd-wrapper grpd-py-32 grpd-font-weight-400  grpd-text-color-white">
    <div class="grpd-container-xxl grpd-mx-auto">
      <div class="grpd-row grpd-px-16 grpd-py-32">
        <div class=" grpd-col-lg-12 grpd-px-18">
          <h2 class="grpd-h2-med  grpd-text-align-center textcolor2">Meet Our Team
          </h2>
        </div>
      </div>
      <div class="grpd-row grpd-justify-content-between">
        <div class="grpd-col-lg-4 grpd-col-md-6 grpd-col-xs-12 grpd-px-lg-32 grpd-px-xs-10  grpd-py-lg-24 grpd-py-xs-16">
          <div class="grpd-row grpd-justify-content-between grpd-align-items-center">
            <div class="grpd-col-lg-12 grpd-col-xs-12 grpd-text-align-center">
              <img src="https://grorapidassets.s3.amazonaws.com/images/Template_blue/Team_1.png" id="icvbt"
              class="grpd-width-100" />
             </div>
            <div class="grpd-col-lg-12 grpd-text-align-center grpd-col-xs-12 grpd-px-32 grpd-py-24">
              <h5 class="grpd-h5 grpd-text-color-theme_primary grpd-font-weight-600">Eric Piterson
              </h5>
              <p class="grpd-p grpd-text-color-text_secondary grpd-font-weight-400">Front-end Developer
              </p>
            </div>
          </div>
        </div>
        <div class="grpd-col-lg-4 grpd-col-md-6 grpd-col-xs-12 grpd-px-lg-32 grpd-px-xs-10  grpd-py-lg-24 grpd-py-xs-16">
          <div class="grpd-row grpd-justify-content-between grpd-align-items-center">
            <div class="grpd-col-lg-12 grpd-col-xs-12 grpd-text-align-center">
              <img src="https://grorapidassets.s3.amazonaws.com/images/Template_blue/Team_2.png" id="icvbt"
              class="grpd-width-100" />
             </div>
            <div class="grpd-col-lg-12 grpd-text-align-center grpd-col-xs-12 grpd-px-32 grpd-py-24">
              <h5 class="grpd-h5 grpd-text-color-theme_primary grpd-font-weight-600">Eric Piterson
              </h5>
              <p class="grpd-p grpd-text-color-text_secondary grpd-font-weight-400">Front-end Developer
              </p>
            </div>
          </div>
        </div>
        <div class="grpd-col-lg-4 grpd-col-md-6 grpd-col-xs-12 grpd-px-lg-32 grpd-px-xs-10  grpd-py-lg-24 grpd-py-xs-16">
          <div class="grpd-row grpd-justify-content-between grpd-align-items-center">
            <div class="grpd-col-lg-12 grpd-col-xs-12 grpd-text-align-center">
              <img src="https://grorapidassets.s3.amazonaws.com/images/Template_blue/Team_3.png" id="icvbt"
              class="grpd-width-100" />
             </div>
            <div class="grpd-col-lg-12 grpd-text-align-center grpd-col-xs-12 grpd-px-32 grpd-py-24">
              <h5 class="grpd-h5 grpd-text-color-theme_primary grpd-font-weight-600">Eric Piterson
              </h5>
              <p class="grpd-p grpd-text-color-text_secondary grpd-font-weight-400">Front-end Developer
              </p>
            </div>
          </div>
        </div>
     
     
      </div>
    </div>
  </section>

  <section class="grpd-wrapper grpd-py-56 bgcolorS1">
    <div class="grpd-container-xl grpd-mx-auto grpd-px-16">
      <div class=" grpd-col-lg-12 grpd-px-20">
        <h2 class="grpd-h2-med grpd-text-color-theme_light">Our clients speak
        </h2>
      </div>
      <div class="grpd-row grpd-display-flex grpd-justify-content-center">
        
        <div class="grpd-col-lg-6 grpd-col-md-6 grpd-col-xs-12 grpd-py-32 grpd-px-16">
          <div class="grpd-px-16 grpd-py-48 grpd-background-color-white grpd-border-rounded">
            <h4 class=" grpd-h5-med grpd-text-color-text_primary grpd-text-align-center   grpd-fontWeight-400">
              Incredible Experience
            </h4>
            <p class="grpd-text-color-text_primary grpd-text-align-center grpd-mx-auto  grpd-fontWeight-400">
              We had an incredible experience working with Landify and were impressed they made such a big difference in only three weeks. Our team is so grateful for the wonderful improvements they made and their ability to get familiar with the concept so quickly. It acted as a catalyst to take our design to the next level and get more eyes on our product.
            </p>
          </div>
          <div class="grpd-px-16 grpd-py-16 grpd-display-flex grpd-justify-content-center align-items-center">
            <div class="grpd-px-8 grpd-py-8">
              <img src="https://grorapidassets.s3.amazonaws.com/images/Template_blue/Profile1.png" id="icvbt"
              class="grpd-width-100" />  
             </div>
            <div class="grpd-text-align-start">
              <strong class="grpd-text-color-white grpd-font-weight-500">Alex
                Johnson</strong>
              <p class="grpd-text-color-white grpd-body1">CEO, ABC Corporation
              </p>
            </div>
          </div>
        </div>
        <div class="grpd-col-lg-6 grpd-col-md-6 grpd-col-xs-12 grpd-py-32 grpd-px-16">
          <div class="grpd-px-16 grpd-py-48 grpd-background-color-white grpd-border-rounded">
            <h4 class=" grpd-h5-med grpd-text-color-text_primary grpd-text-align-center   grpd-fontWeight-400">
              Dependable, Responsive, Professional Partner
            </h4>
            <p class="grpd-text-color-text_primary grpd-text-align-center grpd-mx-auto  grpd-fontWeight-400">
              Fermin Apps has collaborated with Landify team for several projects
               such as Photo Sharing Apps and Custom Social ok support is not abl Networking Apps. The experience has been pleasant, professional and exceeding our expectations. The team is always 
              thinking beyond the current tasks & helps us formulate a vision and possibilities for future.
            </p>
          </div>
          <div class="grpd-px-16 grpd-py-16 grpd-display-flex grpd-justify-content-center align-items-center">
            <div class="grpd-px-8 grpd-py-8">
              <img src="https://grorapidassets.s3.amazonaws.com/images/Template_blue/Profile1.png" id="icvbt"
              class="grpd-width-100" />  
             </div>
            <div class="grpd-text-align-start">
              <strong class="grpd-text-color-white grpd-font-weight-500">Alex
                Johnson</strong>
              <p class="grpd-text-color-white grpd-body1">CEO, ABC Corporation
              </p>
            </div>
          </div>
        </div>
        
      </div>
     
    </div>
  </section>

  <section class="grpd-wrapper grpd-font-weight-400 grpd-py-32 ">
    <div class="grpd-container-xxl grpd-py-72  grpd-px-lg-32 grpd-mx-auto">
      <div class="grpd-row bgcolorS1 grpd-border-radius-4 grpd-justify-content-center grpd-py-32 grpd-px-48 grpd-px-md-32 grpd-px-xs-16">
        <div class="grpd-col-lg-5 grpd-col-md-12 grpd-display-flex grpd-justify-content-center grpd-align-items-center grpd-flex-column" id="iqai">
          <img src="https://grorapidassets.s3.amazonaws.com/images/Template_blue/Illustration.png" id="icvbt"
          class="grpd-width-30" />
        </div>
        <div class="grpd-col-lg-7 grpd-col-md-12 grpd-col-xs-12 grpd-px-lg-48 grpd-px-md-20 grpd-px-xs-16 grpd-display-flex grpd-align-items-center">
         
          <div class="grpd-row grpd-py-16 grpd-flex-column">
            <h3 class="grpd-h3 grpd-py-16 grpd-text-color-theme_light">Join 569 more people in the wishlist</h3>
            <form idf="8735245260272073" formstate="normal" class="grpd-justify-content-start grpd-row">
              <input type="email" name="contact_email" placeholder="Your work email address" class="grpd-form-input-control grpd-border-radius-4 grpd-mt-8 grpd-border  grpd-border-color-text_secondary grpd-font-weight-400 grpd-width-lg-60 grpd-width-md-70"/>
              <button role="button" type="submit" class="grpd-button-primary-text_primary grpd-text-color-white grpd-border grpd-border-color-text_primary grpd-mt-8 grpd-px-32 grpd-py-12 grpd-font-weight-500">Join the whitelist</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
<html>